/* 60/30/10 color scheme colors:
 * 60 (surfie green): #0b7784 Darker version of surfie green: #032428
 * 30 (Oyster pink): #e9d5cc
 * 10 (Atomic tangerine): #fe9f67
 * Colors that also work with this scheme that may be used:
 * Keppel: #35a79b
 * Acapulco: #84b4a4
 * Apricot Peach: #f9c1a6
 */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
